<footer class="p-5 bg-dark text-white">
    <h2>FOOTER</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit voluptates voluptatem illum ad consequuntur? Alias labore ducimus ex eaque voluptatibus quasi distinctio sapiente, a, corporis aspernatur, deleniti ab qui odit?</p>
</footer>