<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { tabTitle: 'Contacto' }) %>
<body>

    <%- include('partials/header') %>

    <h1>CONTACT</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste autem itaque maxime possimus amet quis odio reiciendis animi labore asperiores temporibus architecto vel consectetur voluptates, magnam saepe ratione cum aliquid?</p>


    <%- include('partials/footer') %>
</body>
</html>