@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap");
.flex {
  display: flex;
}

.hidden {
  opacity: 0 !important;
}

[class*=container] {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

[class*=container] form[class*=-form] {
  padding: 2rem;
}

[class*=container] form[class*=-form] input:not([type=radio]) {
  width: 100%;
  font-size: 1.25rem;
  font-family: monospace;
  color: rgb(40, 127, 215);
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 0.5rem;
  background: #333;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group .radio-container {
  padding: 0.25rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

html {
  font-size: 12px;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
}
body {
  font-family: "Inter", Arial, sans-serif;
}

.card {
  margin: 1rem;
  border: 1px solid red;
}
.card__header {
  height: 120px;
  background-color: orange;
}
.card__img {
  height: 120px;
}
.card__body {
  padding: 1rem;
}
.card__title {
  font-weight: 500;
  font-size: 1.5rem;
  border-bottom: 2px solid orangered;
}
.card__description {
  padding: 1.5rem 0 2rem;
}
.card__price {
  font-weight: 500;
  font-size: 1.5rem;
  color: rgb(4, 98, 20);
}
.card__footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.card__date {
  color: dodgerblue;
}
.card__btn {
  padding: 1rem 1.5rem;
  background-color: dodgerblue;
  color: white;
}

[type=radio]:checked,
[type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type=radio]:checked + label,
[type=radio]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 16px;
  display: inline-block;
  color: #666;
}

[type=radio]:checked + label:before,
[type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

[type=radio]:checked + label:after,
[type=radio]:not(:checked) + label:after {
  content: "";
  width: 9px;
  height: 9px;
  background: #5083fb;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type=radio]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type=radio]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.alert-dialog {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(4, 98, 20);
  padding: 2rem 3rem;
  font-size: 1.25rem;
  color: white;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility linear 0.5s, opacity 0.5s linear;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.alert-dialog.show {
  visibility: visible;
  opacity: 1;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar {
  height: 50px;
  background-color: rgb(35, 35, 35);
  display: flex;
  align-items: center;
  position: relative;
}
.navbar__logo {
  height: 45px;
}
.navbar__menu-label {
  color: rgb(255, 255, 255);
  height: 42px;
  background-color: orangered;
  width: 42px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__menu-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.navbar__menu-btn:checked ~ .navbar__nav-links-container {
  height: calc(100vh - 50px);
}
.navbar__menu-icon {
  height: 2px;
  background-color: rgb(255, 255, 255);
  width: 18px;
  position: relative;
}
.navbar__menu-icon::after, .navbar__menu-icon::before {
  content: "";
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 100%;
  transition: all 0.2s ease-out;
}
.navbar__menu-icon::after {
  top: 5px;
}
.navbar__menu-icon::before {
  top: -5px;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon {
  background: transparent;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::after {
  transform: rotate(45deg);
  top: 0;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::before {
  transform: rotate(-45deg);
  top: 0;
}
.navbar__nav-links-container {
  list-style: none;
  position: absolute;
  top: 50px;
  background-color: red;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar__nav-item {
  padding: 1.25rem 1rem;
}
.navbar__nav-item:not(:last-child) {
  border-bottom: 2px solid rgb(156, 156, 156);
}
.navbar__nav-link {
  color: rgb(255, 255, 255);
}

.user-navbar {
  margin-left: auto;
  color: white;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0 1rem;
}
.user-navbar__user-avatar {
  width: 40px;
}
.user-navbar__cart-icon-container {
  color: orange;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  position: relative;
}
.user-navbar__cart-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 12px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .navbar__menu-label, .navbar__menu-btn {
    display: none;
  }
  .navbar__nav-links-container {
    position: static;
    flex-direction: row;
    height: 100% !important;
    width: auto;
  }
  .user-navbar {
    order: 3;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: #222;
}
.footer__column {
  padding: 1rem 1.5rem;
}
.footer__contact-item {
  list-style: none;
}
.footer__contact-link {
  color: white;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer__contact-icon {
  font-size: 1.75rem;
}
.footer__contact-icon--facebook {
  color: #38529a;
}
.footer__contact-icon--instagram {
  color: #f14d59;
}
.footer__contact-icon--linkedin {
  color: #0077b6;
}

@media screen and (min-width: 600px) {
  .footer {
    flex-direction: row;
  }
}
.main {
  padding: 1.5rem 0;
  flex: 1;
}

.section-cards__header {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}
.section-cards__subtitle {
  color: #444;
  font-size: 1rem;
}
.section-cards__products-search-container {
  padding: 1rem;
  background-color: cornflowerblue;
}
.section-cards .cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.product__img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (min-width: 1000px) {
  .section-cards__header {
    display: flex;
  }
}
.form-container {
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
  background: #222;
  background-color: linear-gradient(rgb(0, 0, 0), rgb(50, 50, 50));
}