.header {
    position: fixed;
    width: 100%;
    top: 0;
}
.navbar {
    height: 50px;
    background-color: $color-bg-secondary;
    display: flex;
    align-items: center;
    position: relative;
    &__logo {
        height: 45px;
    }

    &__menu-label {
        color: $color-text-ligth;
        // margin-left: auto;
        height: 42px;
        background-color: orangered;
        width: 42px;
        margin-right: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__menu-btn {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
    }

    &__menu-btn:checked ~ &__nav-links-container {
            height: calc(100vh - 50px);
    }

   

    

    &__menu-icon {
        height: 2px;
        background-color: $color-text-ligth;
        width: 18px;
        position: relative;

        &::after, &::before {
            content: '';
            height: 2px;
            background-color: $color-text-ligth;
            position: absolute;
            width: 100%;
            transition: all .2s ease-out;
        }
        &::after {
            top: 5px;
        }
        &::before {
            top: -5px;
        }
    }

    &__menu-btn:checked ~ &__menu-label &__menu-icon {
        background: transparent;
        &::after {
            transform: rotate(45deg);
            top: 0;
        }

        &::before {
            transform: rotate(-45deg);
            top: 0;
        }
    }

    &__nav-links-container {
        list-style: none;
        position: absolute;
        top: 50px;
        background-color: red;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: all .2s ease-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__nav-item {
        padding: 1.25rem 1rem;
        
        &:not(:last-child) {
            border-bottom: 2px solid rgb(156, 156, 156);

        }
    }
    &__nav-link {
        color: $color-text-ligth;
    }

}

.user-navbar {
    
    margin-left: auto;
    color: white;
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: 0 1rem;
    
    &__user-avatar {
            width: 40px;
    }
    &__cart-icon-container {
        color: orange;
        font-size: 1.5rem;
        margin-right: .5rem;
        position: relative;
    }
    &__cart-badge {
        position: absolute;
        top: -8px;
        right: -8px;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background-color: red;
        color: white;
        font-size: 12px;
        text-align: center;
    }
}

@media screen and (min-width: 600px) {
    .navbar {
        &__menu-label, &__menu-btn {
            display: none;
        }
        &__nav-links-container {
            position: static;
            flex-direction: row;
            height: 100% !important;
            width: auto;
        }
    }
    .user-navbar {
        order: 3;
    }
}